<form class="bg-surfaceLevel2 border-y border-grey100 p-4" [formGroup]="formly" (ngSubmit)="onSubmit()">
    <formly-form [form]="formly" [fields]="formlyFields" [model]="formlyModel" />
    <div class="flex gap-4 justify-end mt-4">


        <app-shared-button [btnType]="'button'"
            styleClass="bg-white border border-grey500 text-grey500 px-8 py-3 text-lg font-medium h-12 leading-5"
            [label]=" 'Cancel'" (onClick)="_dynamicDialogRef.close()" />
        <app-shared-button [btnType]="'button'"
            styleClass="bg-white border border-primary text-primary px-8 py-3 text-lg font-medium h-12 leading-5"
            [label]=" 'Reset'" (onClick)="reset()" />
        <app-shared-button [btnType]="'submit'"
            styleClass="bg-primary text-white px-8 py-3 text-lg font-medium h-12 leading-5"
            [label]=" 'Apply Filters'" />
    </div>
</form>