<p-password
  [promptLabel]="' '"
  [weakLabel]="'common.weak' | translate"
  [mediumLabel]="'common.medium' | translate"
  [strongLabel]="'common.strong' | translate"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [toggleMask]="true"
  [feedback]="props['feedback'] === false? props['feedback'] : true"
  [placeholder]="props['placeholder']"
>
  <ng-template pTemplate="footer">
    <div class="mt-3">
      {{ "validation.password" | translate }}
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <i class="pi pi-user"></i>
  </ng-template>
</p-password>
