@if(_router.url.includes('add')){
<h1 class="font-sfProDisplay font-bold text-2xl text-colorsTextTextPrimary leading-9 mb-4">Add new Client</h1>
<router-outlet />
}@else{
@if(data.length > 0){
<div class="grid grid-cols-6 gap-4">
    <div class="col-span-2">
        <div class="flex justify-between p-2 rounded-t-lg bg-white h-14">
            <h1 class="font-sfProDisplay font-bold text-2xl text-colorsTextTextPrimary leading-9">
                {{_router.url.includes('inactive') ? 'In Active Clients' : 'Clients'|translate}}</h1>
            @if(!_router.url.includes('inactive')){
            <app-shared-button [icon]="'icon-add-circle text-primary !text-2xl '" [label]="'New client'|translate"
                [styleClass]="'flex text-blue600 font-sfProDisplay !text-sm !py-1 !px-0 !font-medium !leading-8'"
                [routerLink]="['/clients/add']" />
            }
        </div>
        <div class="my-2">
            <app-shared-search (searchValueChange)="searchValueChange($event)" />
        </div>
        <div class="flex flex-col gap-2">
            @for(client of data; track client.id){
            <a href="javascript:void(0)" [routerLink]="[url, client.id]" [routerLinkActive]="'active'"
                class="flex justify-between py-4 ps-4 pe-2 rounded-lg border-2 border-white cursor-pointer hover:bg-white relative before:h-0 before:w-0 before:bg-primary before:rounded-full before:absolute before:top-2.5 before:-start-1.5 before:transition-all before:duration-300 before:ease-in-out hover:before:h-4/6 hover:before:w-1">
                <div class="flex justify-between gap-2">
                    <img src="assets/images/user-avatar.svg" alt="client" class="size-10 rounded-full">
                    <div>
                        <h1
                            class="font-sfProDisplay font-bold text-sm text-textSecondary mb-2 transition-colors duration-300 ease-in-out ">
                            {{client.name}}</h1>
                        <p class="font-sfProDisplay font-medium text-grey500 text-xs">{{client.email}}</p>
                    </div>
                </div>
                <div>
                    <h1
                        class="font-sfProDisplay font-bold text-xs text-colorsTextTextPrimary mb-2 transition-colors duration-300 ease-in-out ">
                        {{client.clntNo}}</h1>
                    <p class="font-sfProDisplay font-medium text-xs text-grey500">{{client.balance}}</p>
                </div>
            </a>
            }

            <p-paginator [dir]="'ltr'" (onPageChange)="onPageChange($event)" [first]="0" [rows]="5" pageLinkSize="2"
                [totalRecords]="totalCount" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" />

        </div>
    </div>
    <div class="col-span-4">
        <router-outlet />
    </div>
</div>

}@else{
<app-shared-empty-section />
}
}