<h2 class="font-bold text-3xl mb-4">{{'auth.forgotYourPassword'|translate}}</h2>
<p class="text-sm text-textTertairy font-medium mb-10 font-sfProDisplay">{{'auth.forgetPasswordDescription'|translate}}</p>
<form [formGroup]="formly" (ngSubmit)="onSubmit()">
  <formly-form [model]="formlyModel" [fields]="formlyFields" [form]="formly"/>
  <app-shared-button [btnType]="'submit'" [label]="'auth.resetPassword'|translate" [styleClass]="'bg-primary text-white mb-8'"/>
</form>
<app-shared-button  [label]="'auth.backToLogin'|translate" [styleClass]="'border border-primary text-primary'" [routerLink]="['/auth/login']"/>
