<section class="bg-white p-6 rounded-2xl mb-4">
    <h2 class="mb-4 text-grey500 font-bold text-lg">{{'Main Info'|translate}}</h2>
    <div class="flex p-2 gap-4 items-start">
        <img src="assets/images/icons/open-folder.svg" alt="">
        <div class="grow grid gap-6 grid-cols-3">
            <div class="col-span-3">
                <span class="text-primary font-bold text-sm me-3">{{data.code}}</span>
                <span class="text-xs me-3">{{data.stage}}</span>
                <app-shared-status [data]="data.law_AppStatus" [statusConfig]="statusConfig" />
            </div>
            <div class="col-span-3">
                <p class="font-bold text-textSecondary text-sm">{{data.descr}}</p>
            </div>
            <div class="col-span-3">
                <p class="text-sm text-grey500 mb-3.5">{{'Client'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.law_Client}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Open Date'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.openDate| date:'MMMM d, y'}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Close Date'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.closeDate| date:'MMMM d, y'}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Branch'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.branch}}</p>
            </div>
            <div class="border border-grey100 col-span-3"></div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Practice Area'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{practiceAreaLabel[data.law_PractsArea]}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Matter Category'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.law_MtrCat}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Matter Type'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.mtrType}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Jurisdiction'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.jurisdiction}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Judicature'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.judicature}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Court number'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.courtNumber}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Trademark Type'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.judicature}}</p>
            </div>
            <div>
                <p class="text-sm text-grey500 mb-3.5">{{'Logo image'|translate}}</p>
                <img [src]="data.attachment" alt="" class="size-32 rounded-2xl">
            </div>
            <div class="col-span-3">
                <p class="text-sm text-grey500 mb-3.5">{{'Notes'|translate}}</p>
                <p class="font-bold text-textSecondary text-sm">{{data.notes}}</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white p-6 rounded-2xl mb-4">
    <h2 class="mb-4 text-grey500 font-bold text-lg">{{'Team Work'|translate}}</h2>
    <div class="grow grid gap-6 grid-cols-3">

        <div>
            <p class="text-sm text-grey500 mb-3.5">{{'Responsible Lawyer'|translate}}</p>
            <p class="font-bold text-textSecondary text-sm">{{data.law_ResponsibleLaywer}}</p>
        </div>
        <div>
            <p class="text-sm text-grey500 mb-3.5">{{'Assigned Lawyer'|translate}}</p>
            <div>

                @for (item of data.law_AssignedLaywerList; track $index) {
                <p-chip [label]="item.name" />
                }
            </div>
        </div>
        <div>
            <p class="text-sm text-grey500 mb-3.5">{{'Other Staff'|translate}}</p>
            <div>

                @for (item of data.law_OtherStaffList; track $index) {
                <p-chip [label]="item.name" />
                }
            </div>
        </div>

    </div>
</section>
<section class="bg-white p-6 rounded-2xl mb-4">
    <h2 class="mb-4 text-grey500 font-bold text-lg">{{'Referrals'|translate}}</h2>
    <div class="grow grid gap-6 grid-cols-3">

        <div>
            <p class="text-sm text-grey500 mb-3.5">{{'Client Introducing Lawyer'|translate}}</p>
            <p class="font-bold text-textSecondary text-sm">{{data.law_ClientIntroducing}}</p>
        </div>
        <div>
            <p class="text-sm text-grey500 mb-3.5">{{'Matter Introducing Lawyer'|translate}}</p>
            <p class="font-bold text-textSecondary text-sm">{{data.law_MatterIntroducingLawyer}}</p>
        </div>
        <div>
            <p class="text-sm text-grey500 mb-3.5">{{'Referral Type'|translate}}</p>
            <p class="font-bold text-textSecondary text-sm">{{data.law_ReferralType}}</p>
        </div>
    </div>
</section>
<section class="bg-white p-6 rounded-2xl mb-4">
    <div class="flex justify-between">
        <h2 class="mb-4 text-grey500 font-bold text-lg">{{'Addresses'|translate}}</h2>
        <app-shared-button [icon]="'icon-add-circle text-primary !text-2xl '" [label]="'Add New Address' | translate"
        [styleClass]="
          'flex text-blue600 font-sfProDisplay !text-sm !py-1 !px-0 !font-medium !leading-8'
        " (onClick)="openAddressEditor()"/>
    </div>
    
    <p-table [value]="data.addresses" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="body" let-address>
            <tr class="bg-grey50 mb-2 rounded-xl border border-grey100">
                <td class="font-medium text-sm text-textSecondary border-y border-s border-grey100 rounded-s-lg">{{ address.line1 }}</td>
                <td class="font-medium text-sm text-textSecondary border-y border-grey100">{{ address.streetNumber }}</td>
                <td class="font-medium text-sm text-textSecondary border-y border-grey100">{{ address.city }}</td>
                <td class="font-medium text-sm text-textSecondary border-y border-grey100">{{ address.country }}</td>
                <td class="font-medium text-sm text-textSecondary border-y border-grey100">{{ address.state }}</td>
                <td class="font-medium text-sm text-textSecondary border-y border-grey100">{{ address.zipCode }}</td>
                <td class="font-medium text-sm text-textSecondary border-y  border-e border-grey100 rounded-e-lg flex gap-6 w-16">
                    <div class="cursor-pointer" (click)="openAddressEditor(address)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="stroke-grey500 stroke-2">
                            <path
                                d="M11 2.00012H9C4 2.00012 2 4.00012 2 9.00012V15.0001C2 20.0001 4 22.0001 9 22.0001H15C20 22.0001 22 20.0001 22 15.0001V13.0001"
                                  stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M16.0399 3.02013L8.15988 10.9001C7.85988 11.2001 7.55988 11.7901 7.49988 12.2201L7.06988 15.2301C6.90988 16.3201 7.67988 17.0801 8.76988 16.9301L11.7799 16.5001C12.1999 16.4401 12.7899 16.1401 13.0999 15.8401L20.9799 7.96013C22.3399 6.60013 22.9799 5.02013 20.9799 3.02013C18.9799 1.02013 17.3999 1.66013 16.0399 3.02013Z"
                                  stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M14.9102 4.15015C15.5802 6.54015 17.4502 8.41015 19.8502 9.09015" 
                                 stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="cursor-pointer">
                        <i class="icon-trash text-2xl text-grey500"></i>
                        </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</section>