<div class="relative">
  <button clickOutside (clickOutside)="isOpen = false" (click)="toggleLangMenu()"
    class="flex items-center bg-background" type="button">
    <img [src]="activeLang.flag" [class]="'flag flag-' + activeLang.code.toLowerCase()" class="size-8 me-1" />
    @if(showLabel()){
      <span class="mx-1 text-sm text-white">{{ activeLang.label }}</span>
    }
    <i class="icon-arrow-down text-white ms-1"></i>
  </button>
  <div [@openClose]="isOpen ? 'open' : 'closed'"
    class="absolute end-0 z-20 mt-2 size-52	 transform rounded-md bg-background ring-1 ring-transparent ring-opacity-5 transition focus:outline-none dark:bg-bodyBg">
    <ul class="flex flex-col py-4 px-2 bg-white rounded-2xl	 shadow-lg gap-2">
      @for (lang of listLang; track $index) {
      <li (click)="setActiveLang(lang.code)" :key="$index"
        class="flex cursor-pointer items-center justify-between gap-2 rounded-md  text-sm font-semibold text-textSecondary transition-all duration-200 hover:bg-bodyBg hover:text-primaryColor">
        <div class="flex items-center gap-2">
          <img [src]="lang.flag" [class]="'flag flag-' + activeLang.code.toLowerCase()" class="size-8" />
          <i [class]="lang.icon"></i>
          {{ lang.label }}
        </div>
        @if(lang.code === activeLang.code){
        <i class="icon-success-circle text-xs text-successBase500"></i>
        }
      </li>
      }
    </ul>
  </div>
</div>