@if(props['readonly']){
<p class="text-textSecondary text-sm font-bold font-sfProDisplay mt-3">{{formControl.value}}</p>
}@else{
<div class="p-fluid">
    <p-dropdown [editable]="props['editable'] || false" [formControl]="formControl" [formlyAttributes]="field"
        [options]="props['optionsArr']" [showClear]="props['showClear'] || true" [filter]="props['showFilter'] ?? true"
        [placeholder]="props['placeholder']" appendTo="body" [autoDisplayFirst]="false" [class]="props['class']"
        (onChange)="change($event)" [optionLabel]="props['optionLabel'] || 'label'"
        [optionValue]="props['optionValue'] || 'value'"></p-dropdown>
</div>
}