

@if(props['readonly']){
  <p class="text-textSecondary text-sm font-bold font-sfProDisplay mt-3">{{formControl.value}}</p>
}@else {
  <div class="p-field">
    <ngx-intl-tel-input
    [preferredCountries]="[CountryISO.UnitedArabEmirates]"
    [enableAutoCountrySelect]="false"
    [enablePlaceholder]="true"
    [searchCountryFlag]="true"
    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
    [selectFirstCountry]="false"
    [selectedCountryISO]="CountryISO.UnitedArabEmirates"
    [maxLength]="15"
    [phoneValidation]="true"
    inputId="myInput"
    autocomplete="off"
    [formControl]="formControl"
    [formlyAttributes]="field"
  ></ngx-intl-tel-input>
  </div>
  @if (formControl.value && !formControl.valid && formControl.touched) {
    <small
      class="p-error ng-star-inserted"
      >
      {{ "validation.phone" | translate }}
    </small>
  }  
}
