<nav class="h-screen bg-white w-[256px] transition-all duration-300 " [ngClass]="_menuService.showSideBar ? 'w-[256px]' : 'w-[75px]'">
  <div class="logo flex items-center justify-between px-6 pt-5 pb-10">
      @if(_menuService.showSideBar){
         <img src="assets/images/Logo.svg" alt="Law8 Logo" class="w-[150px] h-12" />
      }
      <i class="icon-split-screen text-borderPrimary cursor-pointer text-2xl" (click)="onToggleSidebar()"></i>
   </div>
   <div class="flex flex-col justify-between h-[calc(100vh-100px)]">
     @for(menu of _menuService.pagesMenu; track $index){
     <div [ngClass]="{'bottom-menu border-t pt-1 border-dividerColor':$index>0}">
       <ul class="menu overflow-auto overflow-x-hidden  transition-all duration-300 scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar-thin  scrollbar-track-transparent scrollbar-thumb-muted " [ngClass]="{'h-[520px]':$index==0}">
          @for (item of menu.items; track $index) {
          <li class="group px-6 text-textTertairy py-1 cursor-pointer mb-1 border-s-[3px] border-s-transparent hover:text-primary hover:bg-blue25  hover:border-primary
        } transition-all duration-200" routerLinkActive="active font-bold"  [ngClass]="{
            '!text-primary !bg-blue25 !border-primary': isActive(item.route) && !item.children?.length,
                           }" >
             <div class="flex justify-between py-2" (click)="toggleMenu(item)">
                <!-- Icon & Label -->
                <span class="flex items-center">
                   <i [class]="item.icon||''" class="text-2xl"></i>
                   @if(_menuService.showSideBar){
    
                      @if(item.children?.length){
                         <span class="text-sm ps-4 font-medium">{{ item.label |translate}}</span>
                      }@else {
                         <a class="text-sm ps-4 font-medium" [routerLink]="item.route">{{ item.label |translate}} </a>
                      }
                   }
                  
                </span>
                <!-- Count -->
                <span></span>
             </div>
             @if(item.children?.length){
                <ul class="relative ps-10  transition-all duration-500" [ngClass]="{
                   'hidden': !item.expanded || !_menuService.showSideBar,
                   'max-h-screen': item.expanded
                 }">
                   @for (item of item.children; track $index) {
                      <li class="pe-5 py-2 relative before:border-b  before:absolute before:w-[25px] before:h-[110%] before:border-s before:rounded-bl before:-top-[23px] before:-start-[30px] before:border-borderPrimary before:first-of-type:h-2/3 before:first-of-type:-top-[6px]  group-hover:before:border-blue200" [ngClass]="{'!before:border-blue200':isActive(item.route)}">
                         <a [routerLink]="item.route" [queryParams]="item.queryParams"  class="text-sm font-normal text-[11px]" [ngClass]="{'!font-medium':isActive(item.route)}">{{item.label|translate}}</a>
                      </li>
                   }
                </ul>
             }
          </li>
          }
       </ul>
     </div>
    }
   </div>
</nav>