/* regular */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src:
         url('./SFPRODISPLAYREGULAR.OTF') format('opentype'); 
  }

  /* medium */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src:
         url('./SFPRODISPLAYMEDIUM.OTF') format('opentype');
  }

  /* bold */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src:
         url('./SFPRODISPLAYBOLD.OTF') format('opentype');
  }
  