<section>
    <div class="flex justify-between p-2 rounded-t-lg bg-white mb-4 h-14">
        <h1 class="font-sfProDisplay font-bold text-2xl text-colorsTextTextPrimary leading-9">{{'Clients'|translate}}</h1>
        <app-shared-button  [routerLink]="['/clients/add']"    [icon]="'icon-add-circle text-primary !text-2xl '" [label]="'New client'|translate" [styleClass]="'flex text-blue600 font-sfProDisplay !text-sm !py-1 !px-0 !font-medium !leading-8'"/>
    </div>
    <div class="flex justify-center items-center bg-white p-6 rounded-2xl min-h-[calc(100vh-200px)]">
        <div>
            <img src="../../../../assets/images/empty-section-placeholder.svg" alt="" class="mx-auto"/>
            <div class="text-center">
                <p class="font-bold my-2 font-sfProDisplay text-textSecondary text-sm">{{'No Clients'}}</p>
                <p class="text-textTertairy text-sm font-sfProDisplay font-medium">You have no Clients yet، Start adding Clients on the top corner button</p>
            </div>
        </div>
    </div>

</section>